<ul class="list-inline" id="home">
  <li class="css_card list-inline-item" routerLink="/quiz/sports" id="sports">
    <img src="../../assets/icons/sports.png" alt="Card image">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center">Sports</h5>
    </div>
  </li>
  <li class="css_card list-inline-item" routerLink="/quiz/movies" id="movies">
    <img src="../../assets/icons/movies.png" alt="Card image">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center">Movies</h5>
    </div>
  </li>
  <li class="css_card list-inline-item" routerLink="/quiz/history" id="history">
    <img src="../../assets/icons/swords.png" alt="Card image">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center">History</h5>
    </div>
  </li>
  <li class="css_card list-inline-item" routerLink="/quiz/geography" id="geography">
    <img src="../../assets/icons/earth-globe.png" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Geography</h5>
    </div>
  </li>
</ul>
